/MyFirst/nbproject/private/
/MyFirst/build/
/Arithmetic/nbproject/private/
/Arithmetic/build/
/IncrementDecrement/nbproject/private/
/IncrementDecrement/build/
/BitwiseDemo/nbproject/private/
/BitwiseDemo/build/
/WideNarrowDemo/nbproject/private/
/PrintingMethods/nbproject/private/
/PrintingMethods/build/
/StringPractice/nbproject/private/
/StringPractice/build/
/SCString/nbproject/private/
/SCString/build/
/Relational/nbproject/private/
/Relational/build/
/OddEvenConditional/nbproject/private/
/OddEvenConditional/build/
/OldYoungConditional/nbproject/private/
/OldYoungConditional/build/
/CheckGrades/nbproject/private/
/CheckGrades/build/
/RadixofNumber/nbproject/private/
/RadixofNumber/build/
/LeapYear/nbproject/private/
/LeapYear/build/
/DayNumber/nbproject/private/
/DayNumber/build/
/TypeofWebsite/nbproject/private/
/TypeofWebsite/build/
/SwitchCase/nbproject/private/
/SwitchCase/build/
/SwitchCaseDay/nbproject/private/
/SwitchCaseDay/build/
